<!DOCTYPE html>

<html>

    <head>
        <title>Escape the Atmosphere</title>
        <link rel="icon" type="image/png" href="assets/png/favicon.png" />
        
        <!-- Import Vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- Phaser 3 -->
        <script type="text/javascript" src="phaser.min.js"></script>
        
        <!-- Game JS Files -->
        <script type="text/javascript" src="menu.js"></script>
        <script type="text/javascript" src="play.js"></script>
        <!-- Main File -->
        <script type="text/javascript" src="game.js"></script>

        <!-- Import Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import Styles -->
        <link rel="stylesheet" href="./assets/style.css"/>

        <!-- Custom Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- The Vue App -->
        <div id="app">
            <!-- Top Content -->
            <div class="title-strip">
                <h1 class="title">{{ title }}</h1>
            </div>

            <!-- Game Goes Here -->
            <div id="game">
            </div>

            <!-- Bottom Content -->
        </div>

        <!-- Import App -->
        <script src="./main.js"></script>
        <!-- Mount App -->
        <script>
            const mountedApp = app.mount('#app')
        </script>
    </body>

</html>