body {
    background-color: black;
}

.title {
    color: rgb(0, 255, 0);
    font-family: 'VT323', monospace;
    font-size: 8em;
}

.title-strip {
    padding: 30px;
    text-align: center;
    background-color: black;
    margin-bottom: 30px;
}

canvas {
    border: 5px solid rgb(0, 255, 0);
}